# Entorno virtual
venv/
env/
.env

# Variables de entorno reales (nunca subir)
.env
.venv

# Modelos entrenados (pesados, subir por separado)
models/**/*.h5


# Datasets (pesados, no versionar)
data/wider_face/
data/lfw/

data/deepface_home/

# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Credenciales GCP
*.json
!.env.example

# Terraform state
infrastructure/terraform/.terraform/
infrastructure/terraform/*.tfstate
infrastructure/terraform/*.tfstate.backup
infrastructure/keys/

# Weights & Biases
wandb/

# Sistema operativo
.DS_Store
Thumbs.db
